@model Product;
@{
    Layout = "_Layout";
}

<form method="post" asp-action="Upsert" asp-controller="Product" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row mb-2 ">
            <h2 class="text-primary">@(Model.Id !=0? "Update": "Create") Edit Product </h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="    Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="    Description"></label>
            <TextArea asp-for="Description" class="form-control" rows="3" ></TextArea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ISBN"></label>
            <input asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ListPrice"></label>
            <input asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="    Price50"></label>
            <input asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="    Price100"></label>
            <input asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>

        <div class="mb-3">
			<label asp-for="ImgUrl"></label>
			<input type="file" id="uploadBox" name="file" class="form-control" />
		</div>

        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
               <option disabled selected>
                   --select category--
               </option>
           </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CoverTypId"></label>
            <select asp-for="CoverTypId" asp-items=" ViewBag.CoverTypeList " class="form-select">
                <option disabled selected>
                    --select coverType--
                </option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        @if(Model.Id != 0){

            <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        }
        else{
            <button type="submit" class="btn btn-primary" onclick="return ValidateInput()" style="width:150px;">Create</button>
        }
       
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px;">Got to list</a>
    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });

        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
}
