@model IEnumerable<Category>
<h1>Category page</h1>
<a asp-controller="Category" asp-action="Create" class="btn btn-primary" style="width:150px;">Create</a>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td style="width:50%">
                    @obj.Name
                </td>
                <td style="width:50%">
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>