<html>
<h1> index category  </h1>
<h1> سلام محمد من خیلی دلم برات تنگ شده تو اصن درکم نمیکنی چکار کنم اخه تو رفتی و منو
تنها گذاشتی با تمام خاطرات  هر جا میرسم 
تو را یادم میایع دلم میگیره بغض میگیره  ولی هیچ کس دردم را نمیداند فقط در درون درد میکشم
و تظاهر میکنم که خوشم و هیچ دردی ندارم اما دلم پر از درده 
زمانی ک نیاز دارم نازم بدی سرم قهر میشی و حرف نمیزنی با این کارایت دردم را بیشتر میکنی 
من از یک طرف از کاظم میترسم حتی د خانه میترسم که همراهش تنها باشم چون میترسم که از تو 
حرف نزنه و گیر نده . روزا یکم راحت ترم چون میدانم کاظم نیست که گیرم بده ولی شبا سرم قرن میگذره
ولی تو د غصه من نیستی .
من دلم پرپر شده خیلی دلم تنگ شده محمد خیلی زیاد .
هر شب در تنهایی گریه میکنم خاطرات گذشته را به یاد میارم و الان خوده میبینم و بفض میگرده
تا نصف شب فقط فکر میکنم و خوابم نمیبره دلم شور میزنه که کی میشه که ببینمت.
ولی زمانی که دلم بیش از حد بگذره بهانه گیری میکنم بد اخلاقی میکنم قبول دارم اما تو باید 
با محبت و ناز نرمم کنی راحتم کنی ولی تو از من بدتر بداخلافی میکنی.
محمد لطفا بیا پیشم لطفا بیا نیاز دارم کنارم باشی نیاز دارم نوازشم کنی نیاز دارم به 
اغوشت.
.نیاز دارم نازم کنی نگاهم کنی صدام کنی 
بخندی و نگات کنم باهم بریم بیرون و باهم غذا بخوریم .
دستم را بگیری و باهم با صدای بلند بخندیم 
باهم دعوا کنیم ولی بعد یک دقیقه همو بغل کنیم 
محمد خیلی دلم برات تنگ شده خیلی زیاد لطفا کاری کن که پیش هم باشیم لطفا این دوری و رنچ بسه
لطفا محمد لطفا 
دیگه تحمل دوری را ندارم.
</h1>
</html>